/* ==============================
Medium devices (640px and larger)
================================= */

@media only screen and (min-width: 640px) {
    header {
        text-align: unset;
        padding: 20px 0 13px;
    }
    nav {
        width: 100%;
        float: right;
        margin-top: 4px;
    }
    .col-s-1 {
        width: 8.33%;
    }
    .col-s-2 {
        width: 16.66%;
    }
    .col-s-3 {
        width: 25%;
    }
    .col-s-4 {
        width: 33.33%;
    }
    .col-s-5 {
        width: 41.66%;
    }
    .col-s-6 {
        width: 50%;
    }
    .col-s-7 {
        width: 58.33%;
    }
    .col-s-8 {
        width: 66.66%;
    }
    .col-s-9 {
        width: 75%;
    }
    .col-s-10 {
        width: 83.33%;
    }
    .col-s-11 {
        width: 91.66%;
    }
    .col-s-12 {
        width: 100%;
    }
    .col-md-6 {
        width: 50%;
    }
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}


/* ==============================
Large devices (1024px or larger)
================================= */

@media only screen and (min-width: 1024px) {
    .col-1 {
        width: 8.33%;
    }
    .col-2 {
        width: 16.66%;
    }
    .col-3 {
        width: 25%;
    }
    .col-4 {
        width: 33.33%;
    }
    .col-5 {
        width: 41.66%;
    }
    .col-6 {
        width: 50%;
    }
    .col-7 {
        width: 58.33%;
    }
    .col-8 {
        width: 66.66%;
    }
    .col-9 {
        width: 75%;
    }
    .col-10 {
        width: 83.33%;
    }
    .col-11 {
        width: 91.66%;
    }
    .col-12 {
        width: 100%;
    }
    [class*="col-"] {
        float: left;
    }
}


/* ==============================
X-large devices (1440px or larger)
================================= */

@media only screen and (min-width: 1440px) {}


/* ==============================
Extra-large devices (1920px or larger)
================================= */

@media only screen and (min-width: 1920px) {}

#mainprojects {
    float: left;
    margin: 0 5%;
    width: 60%;
}

aside {
    float: left;
    margin: 0 5% 0 0;
    width: 5%;
}


/* style.css */

#nav {
    width: auto;
    float: right;
    margin-top: 4px;
}

nav>ul {
    list-style-type: none;
    padding: 10;
}

nav>ul>li {
    display: inline-block;
}

nav>ul>li>a {
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 500;
    color: #4a4a4a;
}

#hero {
    /* background-color: #3415e4; */
    padding: px 0;
    display: block;
    width: 100%;
}

header {
    background-color: #e9e8ff;
    padding: 20px 0 13px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
    margin: 0px;
    /* border-bottom: 3px solid #ffffff; */
    position: fixed;
    text-align: unset;
}

* {
    box-sizing: border-box;
}

.logo {
    padding: 50px;
    text-align: auto;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    padding-bottom: 25px;
    /* border-bottom: 1px solid #4a4a4a; */
}

.row {
    margin: 25px 0;
    /* 25px top and bottom, 0 left and right */
}

p {
    /*font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; */
    text-align: auto;
    color: #000000;
    font-size: 16px;
    display: block;
    padding-right: 10px;
    padding-left: 10px;
}

h1 {
    /*font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";*/
    text-align: center;
    color: #000000;
    font-size: 2.75em;
    font-weight: 700;
}

h2 {
    /*font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";*/
    text-align: center;
    font-size: 2.25em;
    font-weight: 700;
}

h3 {
    /*font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    text-align: center;*/
    font-size: 1.75em;
    font-weight: 400;
}

h4 {
    /*font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    text-align: center;*/
    font-size: 1.35em;
    font-weight: 400;
}

body {
    background-color: #ffffff;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    text-align: auto;
    /*font-family: 'Roboto', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Lora', serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Muli', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Karla', sans-serif;
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'Hind Madurai', sans-serif;
    font-family: 'Noto Sans SC', sans-serif;
    font-family: 'Tajawal', sans-serif;
    font-family: 'Gothic A1', sans-serif;
    font-family: 'Mallanna', sans-serif;
    font-family: 'Mukta Malar', sans-serif;
    font-family: 'Krub', sans-serif;*/
    font-size: 16px;
    /* Sets the font size to 16px */
    font-weight: 300;
    /* Sets the font weight to 300 */
    line-height: 1.6;
    /* Sets the line-height to 1.6 * the font-size */
    color: #1a1a1a;
    display: block;
    padding-right: 10px;
    padding-left: 10px;
}

selector {
    margin: 0 auto;
    /* No spacing to top and bottom and auto spacing to left and  right */
    position: static;
    float: relative;
    width: 80%;
}

h1,
h2,
h3,
h4 {
    text-align: center;
    color: #000000;
    line-height: 1.4;
}

img {
    max-width: 100%;
    height: auto;
    float: center;
}

.column {
    float: left;
    width: 25%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

a {
    color: #2d46d6;
    text-decoration: none;
}

a:hover {
    color: #6b36e7;
    text-decoration: none;
}

a:visited {
    color: #2b0753;
}

a:active {
    color: #305bcf;
}

a:hover,
a:focus {
    color: #4e1e9c;
    text-decoration: none;
}

.button {
    display: inline-block;
    /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
    background-color: #2b0faa;
    color: #ffffff !important;
    /* needed to override the default link color */
    font-weight: 400;
    padding: 10px;
    border-radius: 5px;
    border-bottom: 5px solid #1d0877;
    /* width of the border, type, color */
    transition: 0.2s opacity;
}

.button:hover {
    opacity: 80%;
    text-decoration: none;
}

.button.contact {
    background-color: transparent;
    color: #8151db !important;
    text-transform: uppercase;
    border: 2px solid #51289e;
}

.button.contact:hover {
    background-color: #51289e;
    color: #ffffff !important;
}

#demoparagraph {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 32px;
    -moz-column-gap: 32px;
    column-gap: 32px;
    -webkit-column-rule: 1px solid rgba(28, 110, 164, 0.5);
    -moz-column-rule: 1px solid rgba(28, 110, 164, 0.5);
    column-rule: 1px solid rgba(28, 110, 164, 0.5);
}